# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/
env-bak/
*~
# Distribution / packaging
build/
dist/
*.egg-info/
*.tar.gz
*.zip

# Log files
*.log

# IDE specific files
.idea/
.project
.pydevproject.xml

# OS
.DS_Store
Thumbs.db

# swap files
.*.swp

# jupyter checkpoint
.ipynb_checkpoints
*checkpoint.ipynb

analysis_plots
archives
data
logs
logs_tmp
runs
tests/Backtrace*
tests/inputs_*
tests/warpx

warpx_ion_impact_ionization_patch
warpx_proton_impact_cross_sections_linear

00_plasma_column_antigravity_tasks/
01_plasma_column_publication_antigravity_tasks/
